#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(117, 113, 108);
}

.square-button {
  width: 60%;
  height: 5%;
  flex-shrink: 0;
  background-color: rgb(153, 11, 158);
  padding: 4%;
  border: 0.1rem rgb(138, 18, 118) solid;
  border-radius: 0.8rem;
  font-size: 20px;
  font-weight: 700;
}

.resource-button {
  width: 60%;
  height: 5%;
  background-color: rgb(176, 180, 179);
  border: 0.1rem rgb(138, 18, 118) solid;
  border-radius: 0.8rem;
  font-size: 12px;

}

.category-button {
  width: 60%;
  height: 5%;
  background-color: rgb(150, 141, 15);
  border: 0.1rem rgb(138, 18, 118) solid;
  border-radius: 0.8rem;
  font-size: 12px;

}

